<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.planner.team.mapper.TeamMapper">
	<!--<< 팀 >>-->
	<!--팀 등록-->
	<insert id="insTeam">
		INSERT INTO team (owner_id, title, reg_dt, update_dt) VALUES (#{ownerId}, #{title}, now(), now())
	</insert>
	<!--팀 삭제(id 기준)-->
	<delete id="delTeam">
		DELETE FROM team FROM id = #{id}
	</delete>
	<!--팀 삭제(작성자 기준) (회원 삭제 시 사용될 예정)-->
	<delete id="delTeamByOwnerId">
		DELETE FROM team WHERE owner_id = #{ownerId}
	</delete>
	<!--팀명 수정-->
	<update id="uptTeam">
		UPDATE team SET name = #{name}, update_dt = now() WHERE id = #{id}
	</update>
	<!--현재 참여중인 팀 출력-->
	<select id="slctTeam" resultType="com.planner.team.model.TeamVO">
		SELECT * FROM team WHERE id IN (SELECT team_id FROM teamMember WHERE user_id = #{userId})
	</select>
	<!--팀 출력(id)-->
	<select id="slctTeamById" resultType="com.planner.team.model.TeamVO">
		SELECT * FROM team WHERE id = #{id}
	</select>
	
	<!--<< 팀 초대 >>-->
	<!--팀 초대 인원 추가-->
	<insert id="insInvitation">
		INSERT INTO teamInvitation (team_id, user_id, user_email, status, reg_dt, update_dt) VALUES (#{teamId}, #{userId}, #{userEmail}, 'N', now(), now())
	</insert>
	<!--팀 초대 수락-->
	<update id="acptInvitation">
		UPDATE teamInvitation SET status = 'Y', update_dt = now() WHERE team_id = #{teamId} AND user_id = #{userId}
	</update>
	<!--팀 초대 기록 삭제-->
	<delete id="delInvitationById">
		DELETE FROM teamInvitation FROM id = #{id}
	</delete>
	<!--팀 삭제 시 팀 초대 기록 삭제-->
	<delete id="delInvitationByTeamId">
		DELETE FROM teamInvitation FROM team_id = #{teamId}
	</delete>
	<!--팀 초대 수락 시 기록 확인-->
	<select id="chkInvitation" resultType="com.planner.team.model.TeamInvitationVO">
		SELECT * FROM teamInvitation WHERE status = 'N' AND team_id = #{teamId} AND user_id = #{userId}
	</select>
	<!--팀 초대 대기 중인 팀원-->
	<select id="waitInvitation" resultType="com.planner.team.model.TeamInvitationVO">
		SELECT * FROM teamInvitation WHERE team_id = #{teamId} AND status = 'N'
	</select>
	
	<!--<< 팀원 >>-->
	<!--팀원 등록-->
	<insert id="insTeamMbr">
		INSERT INTO teamMember (team_id, user_id, auth, join_dt, update_dt) VALUES (#{teamId}, #{userId}, #{auth}, now(), now())
	</insert>
	<!--팀원 삭제-->
	<delete id="delTeamMbr">
		DELETE FROM teamMember WHERE id = #{id}
	</delete>
	<!--팀원 일정 작성 권한 수정-->
	<update id="uptTeamMbrAuth">
		UPDATE teamMember SET auth = #{auth}, update_dt = now() WHERE id = #{id} 
	</update>
	<!--팀 삭제 시 팀원 삭제-->
	<delete id="delTeamMbrByTeamId">
		DELETE FROM teamMember WHERE team_id = #{teamId}
	</delete>
	<select id="slctTeamMbrByTeamIdAndUserId">
		SELECT * FROM teamMember WHERE team_id = #{teamId} AND user_id = #{userId}
	</select>
</mapper>